@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

:root{
    --primary-color:#0067de;
    --second-color:#e5f1ff;
    --theard-color: rgb(40, 40, 40);
    --fourth-color:#fff;
    --fiveth-color:#707070;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    direction: rtl;
}

ul{
    list-style: none;
}

body{
    /* background-color: #e5f1ff; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'cairo', sans-serif;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow:10px 40px 55px 55px rgba(0, 0, 0, 0.2);
}

.container .left-side{
    position: relative;
    background: var(--second-color);
    padding: 40px;
}


.profileInfo{
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-bottom: 20px;
    
}

.image{
    width: 100%;
    /* background-color: #fff; */
}

.image img{
    width: 100%;
    border-radius: 50%;
    border: 6px solid var(--primary-color);
    background-color: var(--fourth-color);
}

.title .title-contact{
    display: flex;
    flex-direction: row;
    margin-left: 48px;

}

.title .contact-icon {
    font-size: 20px;
    color: var(--fourth-color);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    margin: auto;
}

.title .contact-icon i{
    padding: 15px 10px;
}

.title .contact-list{
    color: var(--fiveth-color);
    margin-right: 10px;
    
}

.title .contact-list li{
    padding: 14px 0;
}

.title > ul li{
    margin-right: 50px;
    line-height: 2;
}

.title ul li span{
    color: var(--fiveth-color);
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}
.title > p{
    text-align: justify;
    font-size: 14px;
    margin-right: 48px;
}

.title .head{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.title .head i{
    margin-left: 10px;
    padding: 11px 10px;
    font-size: 22px;
    color: var(--fourth-color);
    background-color: var(--primary-color);
    border-radius: 50%;
}

.title h2{
    
    color: var(--primary-color);
}

.title .contact{
    margin-right: 50px;
    margin-top: 10px;
    font-size: 28px;
}

.container .right-side{
    position: relative;
    background: var(--fourth-color);
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    
}

.profileText{
    position: relative;
    font-size: 50px;
    font-weight: 400;
    
}

/* .profileText::after{
    content: "";
    border-right: 10px solid var(--primary-color) ;
    border-radius: 15px;
    position: absolute;
    left: 20px;
    width: 10px;
} */
.profileText h2{
    font-weight: 400;
    line-height: 1;
    margin-top: 25px;
    font-size: 5rem;
}
.profileText h2 span{
    color: var(--primary-color);
}
.profileText h3{
    font-size: 30px;
    font-weight: 400;
}
.exp-line{
    position: relative;
}

.exp-line i{
    color: var(--primary-color);
}
.experience h2{
    color: var(--primary-color);
    margin-top: 25px;
    font-size: 28px;
}

.experience ul {
    font-size: 17px;
    position: relative;
}

/* .experience ul::before{
    content: "";
    width: 2px;
    height: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    margin-right: -1px;
    background: #196dd1;
}
.experience ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #196dd1;
    position: absolute;
    top: 9%;
    right: 50%;
    margin-right: -5px;
} */

.experience ul li {
    margin-bottom: 10px;
    color: var(--fiveth-color);
}
.experience .exp-line p{
    margin-bottom: 20px;
}
.skills .prog-holder{
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.skills h2{
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 28px;
    margin-top: 25px;
}

.skills .prog-holder h4{
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 17px;
    color: var(--theard-color);
    line-height: 1.2;
    text-align: right;
    
}
.skills .prog-holder .prog{
    background-color: var(--second-color);
    height: 10px;
}
.skills .prog-holder .prog span{
    display: block;
    background-color: var(--primary-color);
    height: 100%;
    position: relative;
    transition:step-start;
}
.skills .prog-holder .prog span::before{
    content: attr(data-progress);
    position: absolute;
    top: -32px;
    left: -13px;
    background-color: var(--fiveth-color);
    color: var(--fourth-color);
    padding: 3px 0;
    width: 30px;
    text-align: center;
    border-radius: 7px;
    font-size: 12px;
}
.skills .prog-holder .prog span::after{
    content: "";
    position: absolute;
    border: solid;
    border-width: 7px;
    border-color: var(--fiveth-color) transparent transparent;
    left: -5px;
    top: -8px;
}
.download-social{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;    
}
.download-social a {
    font-size: 30px;
    text-decoration: none;
    margin-left: 20px;
    color: var(--primary-color);

}

.download-social .cv{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 13px 10px;
    margin-left: 0;
    background-color: var(--primary-color);
    color: var(--fourth-color);
    border-radius: 30px;
    transition: 0.3s ease-in;
}

.download-social .cv:hover,
.download-social .cv:active,
.download-social .cv:focus{
    transform: translateY(-3px);
}

.interests{
    margin-top: 20px;
}

.interests h2{
    color: var(--primary-color);
    margin-top: 25px;
    font-size: 28px;
}

.interests ul{
    display: flex;
    justify-content: space-between;
}

.interests ul li{
    font-weight: bold;
    color: var(--fiveth-color);
    line-height: 3;
}
.language h2{
    color: var(--primary-color);
    margin-top: 25px;
    font-size: 28px;
}

.language ul li{
    font-size: 17px;
    color: var(--fiveth-color);
}

.language ul li span{
    color: #000;
}

@media (max-width: 1000px){

    .container{
        margin: 0px;
        grid-template-columns: repeat(1,1fr);
    }


    .container .right-side{
        padding: 40px;
    }

    .profileInfo {
        align-items: inherit;
    }

    .profileText h2{
        font-size: 85px;
    }
    
    .image {
        margin: 0px 118px;
        width: 60%;
    }

    .title .head {
        font-size: 22px;
    }

    .title p{
        font-size: 17px;
        margin-left: 0;
    }

    .title .contact {
        font-size: 33px;
    }

    .title .contact-list {
        font-size: 17px;
    }

    .title .contact-icon {
        margin: inherit;
    }

    .profileInfo .profileText{
        display: block !important;
    }

    .right-side .profileText{
        display: none;
    }

    .experience h2{
        margin-top: 0;
        font-size: 33px;
    }

    .skills h2 {
        font-size: 33px;
    }

    .skills .prog-holder h4{
        font-size: 19px;
    }

    .download-social .cv{
        margin-left: 0;
        font-size: 16px;
        font-weight: 500;
        padding: 14px 12px;
    }
}

@media (max-width: 575px){

    .image{
        margin: 0;
        width: 100%;
    }
    .container .right-side {
        padding: 14px 38px;
    }

    .profileText h2{
        font-size: 50px;
    }

    .download-social{
        flex-direction: column-reverse;
    }

    .download-social .cv {
        display: block;
        margin-left: 0;
    }

    .download-social a{
        font-size: 40px;
    }
}